---
import { getCollection } from "astro:content";
import FormattedDate from "../components/FormattedDate.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";

const posts = (await getCollection("blog")).sort(
	(a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
);
const allPosts = await getCollection("blog");
const tags = [...new Set(allPosts.map((post) => post.data.tags).flat())];
---

<BaseLayout title={SITE_TITLE} description={SITE_DESCRIPTION}>
	<div
		class="mb-8 flex items-center flex-wrap gap-2 font-['Josefin_Sans'] font-light text-xs text-gray-600"
	>
		{
			tags.map((tag) => (
				<a
					class="inline-block align-bottom px-1 pt-1 rounded-sm text-inherit bg-slate-200 whitespace-nowrap"
					href={`/tags/${tag}`}
				>
					{tag}
				</a>
			))
		}
	</div>
	<div>
		<ul>
			{
				posts.map((post) => (
					<li class="mb-8">
						<p class="font-['Josefin_Sans'] font-light mb-1 text-xs text-gray-600 dark:text-gray-300">
							<FormattedDate date={post.data.pubDate} />
						</p>
						<a href={`/posts/${post.slug}/`}>
							<h4 class="sm:text-lg leading-snug">
								{post.data.title}
							</h4>
						</a>
					</li>
				))
			}
		</ul>
	</div>
</BaseLayout>
