---
import type { CollectionEntry } from "astro:content";
import BaseLayout from "../layouts/BaseLayout.astro";
import FormattedDate from "../components/FormattedDate.astro";
import "@fontsource/josefin-sans";

type Props = CollectionEntry<"blog">["data"];

const { title, description, pubDate, updatedDate } = Astro.props;
---

<BaseLayout title={title} description={description}>
	<article class="prose max-w-full">
		<h1 class="mb-2 text-xl lg:text-2xl font-bold">
			{title}
		</h1>
		<div class="mb-12 sm:text-right">
			<span class="font-['Josefin_Sans'] text-sm text-gray-600">
				Publish :{" "}
				<FormattedDate date={pubDate} />
			</span>
			{
				updatedDate && (
					<>
						<br />
						<span class="font-['Josefin_Sans'] text-sm text-gray-600">
							Update : <FormattedDate date={updatedDate} />
						</span>
					</>
				)
			}
		</div>
		<slot />
	</article>
</BaseLayout>
